*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu Mono', 'Ubuntu', sans-serif;
	--main-color: #000;
	--accent-color: rgb(0, 255, 0);
}

body {
display: flex;
flex-flow: column;
align-items: center;
gap: 40px;
background: var(--main-color);
}

h1 {
	padding: 20px 10px;
	margin-bottom: 10px;
	font-size: 2.7em;
	color: var(--accent-color);
}

h3 {
	color: var(--accent-color);
	font-size: 1.3em;
	padding: 0 30px;
}

.container {
	width: 300px;
	aspect-ratio: 3 / 4;
	padding: 20px;
	border: 2px solid var(--accent-color);
	border-radius: 10px;
	display: flex;
	flex-flow: row wrap;
	gap: 10px;
	font-size: 2em;
	color: var(--accent-color);
}

button {
	border: 1px solid var(--accent-color);
	border-radius: 8px;
	flex: 1 0 20%;
	display: flex;
	align-items: center;
	justify-content: center;
}

button, input{
	font-size: 1.2em;
	background: var(--main-color);
	color: var(--accent-color);
	border: 1px solid var(--accent-color);
}

button.operators{
	background: var(--accent-color);
	color: var(--main-color);
	filter: brightness(85%);
	box-shadow: 0 0 10px var(--accent-color);
}

.result {
	box-shadow: 0 0 30px var(--accent-color);
}

.container button:active{
	background: var(--main-color);
	color: var(--accent-color);
	box-shadow: 0 0 50px #fff;
}

input:focus-visible {
	border: 1px solid var(--accent-color);
}

::placeholder {
	color: var(--accent-color);
}

input {
	min-width: 100%;
	flex: 1 0 100%;
	order: -3;
	padding: 0 20px;
	text-align: right;
}

.del {
	flex: 40%;
	min-width: 40%;
	order: -1
}

.clear {
	flex: 40%;
	min-width: 40%;
	order: -2;
}
